
@{
    ViewBag.Title = "PublicLanding";
    Layout = "~/Views/Shared/_CoreStandLayout.cshtml";
}

<div class="row image-container">
    <p class="text-over-image">Collaboration Just Got Easier</p>
    <p class="text-over-image-two">
        A simple way for educators to learn, create and<br>
        share Common Core Aligned resources
    </p>
    <img src="~/Images/home-top-photo1.jpg" class="home-top-image" />
</div>

<div class="row">
    <div class="col-sm-3" >
        <div class="icon-circle">
            <i class="fa fa-group"></i>
        </div>
       <p class="box-title">VLC's</p>
        <p class="box-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
        </p>
    </div>
    <div class="col-sm-3" >
        <div class="icon-circle">
            <i class="fa fa-book"></i>
        </div>
        <p class="box-title">Lesson's & Materials</p>
        <p class="box-text">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
    </div>
    <div class="col-sm-3" >
        <div class="icon-circle">
            <i class="fa fa-headphones"></i>
        </div>
        <p class="box-title">Video Tutorial</p>
        <p class="box-text"> Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    </div>
    <div class="col-sm-3" >
        <div class="icon-circle">
            <i class="fa fa-wrench"></i>
        </div>
        <p class="box-title">CCSS Tool Kits</p>
        <p class="box-text">Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
</div>

<div class="row top-border">
    <div class="col-sm-6 text-half">
        <p class="big-text">
            Collaborate With Experts & Peers
        </p><br/>
        <p class="medium-text">
            Our company goal is to make collaboration as simple as possible. Any Time, Any Where. Our Virtual Learning Communities are incredibly nimble. Giving you the ability to streamline and focus your work time. Join discussions, publish documents, share links, embed videos, and upload photos.
        </p>
        <div class="button-container">
            <input type="button" class="btn btn-success " value="Learn About VLC's" />
        </div>
    </div>
    <div class="col-sm-6 image-half">
        <img src="http://www.corestand.com.php53-7.dfw1-2.websitetestlink.com/wp-content/uploads/2014/10/VLC-sample1.png" class="box-shadow"/>
    </div>
</div>


<div class="row top-border">
    <div class="col-sm-6 image-half">
        <img src="http://www.corestand.com.php53-7.dfw1-2.websitetestlink.com/wp-content/uploads/2014/10/J-Vargus-Profile1.png" class="box-shadow" />
    </div>
    <div class="col-sm-6 text-half">
        <p class="big-text">
            Showcase Your Skills
                </p><br />
        <p class="medium-text">
            Create an account today and begin to build your professional identity. Our Professional Portfolios display your skills and talents to colleges and administrators. Our Teacher’s Vault allow you to archive your work, annotate your lesson and save successes for the future.
        </p>
        <div class="button-container  btn-left">
            <input type="button" class="btn btn-success" value="Check Out Professional Portfolio" />
        </div>
    </div>
</div>


<div class="row top-border">
    <div class="col-sm-6 text-half">
        <p class="big-text">
            Master The Common Core
                </p><br />
        <p class="medium-text">
            Choose from a host of powerful online tools designed to help you hone your skills and implement the common core into your classroom. Download Reference Guides that breakdown the standards, watch videos that teach best practice and participate in our consultant series that promote pedagogy.
        </p>
        <div class="button-container">
            <input type="button" class="btn btn-success" value="Learn About VLC's" />
        </div>
    </div>
    <div class="col-sm-6 image-half">
        <img src="http://www.corestand.com.php53-7.dfw1-2.websitetestlink.com/wp-content/uploads/2014/10/VLC-sample1.png" class="box-shadow" />
    </div>
</div>


<div class="row top-border">
    <div class="col-sm-6 image-half">
        <img src="http://www.corestand.com.php53-7.dfw1-2.websitetestlink.com/wp-content/uploads/2014/10/J-Vargus-Profile1.png" class="box-shadow" />
    </div>
    <div class="col-sm-6 text-half">
        <p class="big-text">
            View Out Vault
                </p><br />
        <p class="medium-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
        </p>
        <div class="button-container  btn-left">
            <input type="button" class="btn btn-success" value="Check Out Professional Portfolio" />
        </div>
    </div>
</div>


<div class="row top-border">
    <div class="col-sm-6 text-half">
        <p class="big-text">
            Lessons & Materials
        </p><br />
        <p class="medium-text">
            We've made it easy to find core aligned instructional materials that are ready for the classroom. Browse by subject, standard, or grade. Key word search is designed to help you quickly locate the right materials.
        </p>
        <div class="button-container">
            <input type="button" class="btn btn-success" value="Learn About Lessons & Materials" />
        </div>
    </div>
    <div class="col-sm-6 image-half">
        <img src="http://www.corestand.com.php53-7.dfw1-2.websitetestlink.com/wp-content/uploads/2014/10/VLC-sample1.png" class="box-shadow" />
    </div>
</div>