
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>CoreStand</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header container">
            <a class="navbar-brand" href="#">
                <img src="~/Images/corestand_logo1-1.png" />
            </a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse navHeaderCollapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">VLC's</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="/Home/Materials">Lessons & Materials</a></li>
                    <li><a href="#">Master Common Core</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a><button class="navbar-btn btn btn-danger" type="button" id="sign-in">Login</button></a></li>
                </ul>
            </div>     
            </div>
    </nav>  
    

    @RenderBody()
</body>
</html>
